<form id="event-form">
  <input name="title" placeholder="Event Name" />
  <input name="content" placeholder="Event Description" />
  <input name="location" placeholder="Location" />
  <button>Create Event</button>
</form>

<ul class="post-list">
  {{#each post}}

   {{>event}}

  {{/each}}
</ul>

<div><h1>Events that interested you</h1></div>
<ul class="post-list">
  {{#each interests}}

    {{>event}}

  {{/each}}
</ul>

<script src="/js/event.js"></script>