<div class="post-body">
  <ul class="post-list">
    {{#each post}}

      <li class="post-list-item">
        <div><h2>{{title}}</h2></div>
        <div>{{content}}</div>
        <div>{{format_date date_created}}</div>
        <div><p>{{location}}</p></div>
      </li>
    {{/each}}
  </ul>
</div>

<br>


<form id="event-form">
  <input name="title" placeholder="Event Name" />
  <input name="content" placeholder="Event Description" />
  <input name="location" placeholder="Location" />
  <button>Create Event</button>
</form>
<script src="/js/create-event.js"></script>