<div class="post-body" data-backgroundH="backgroundH">
  <ul class="post-list">
    {{#each post}}
      {{>event}}
    {{/each}}
  </ul>
</div>
<script src="/js/comment.js"></script>
<script src="/js/event.js"></script>
<script src="/js/interested.js"></script>