{{! took this login form from class }}

<body class="col-md-6" data-backgroundL="backgroundL">
  {{! <h2>Login</h2> }}
  <div id="gridLogin">
    <div></div>

    <form class="form login-form" data-formCard="card">

      <label data-loginTE="stylingE" for="email-login">Email</label>
      <input class="form-input inputL" type="text" id="email-login" />

      <label data-loginT="styling" for="password-login">Password</label>
      <input class="form-input inputL" type="password" id="password-login" />

      <div class="form-group">
        <button class="btn btn-primary loginBtn" type="submit">login</button>
      </div>
      <div>
        <a class="btn btn-primary signup-form signupBtn" href="/sign-up">Sign
          Up!</a>
      </div>
    </form>
  </div>
</body>

<script src="./js/login.js"></script>