<div data-backgroundS="backgroundS" class="containerSG">

  <form class="form signup-form wrapperForm">

    <div class="form-group containerS">
      <label class="sText" for="name-signup">Username:</label>
      <input class="form-input signupInput" type="text" id="name-signup" />
    </div>
    <div class="form-group containerS">
      <label class="sTextM" for="email-signup">Email:</label>
      <input class="form-input signupInput" type="text" id="email-signup" />
    </div>
    <div class="form-group containerS">
      <label class="sText" for="password-signup">Password:</label>
      <input
        class="form-input signupInput"
        type="password"
        id="password-signup"
      />
    </div>
    <div class="form-group containerS">
      <button
        class="sBtn"
        id="register"
        class="btn btn-primary"
        type="submit"
      >Signup</button>
    </div>

  </form>

</div>
<script src="./js/sign-up.js"></script>