* {
  margin: 0;
  padding: 0;
  font-family: Ibarra Real Nova;
}
:root {
  --black: #000000;
  --white: #ffffff;
  --red: rgb(199, 33, 33);
  --darkgrey: rgb(51, 51, 51);
  --Tblack: #000000d0;
}

.navBar {
  width: 100%;
  margin: 0%;
  background: var(--black);
  padding: 0.3em 0em 0.3em 0em;
  box-shadow: 0px 5px 5px red;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  margin-left: 1em;
}

a {
  color: #e1efe6;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding: 7px 0;
  margin-right: 1em;
  display: flex;
  align-items: center;
}

a:after {
  content: "";
  position: absolute;
  background-color: var(--white);
  height: 5px;
  width: 0%;
  left: 50%;
  bottom: 0;
  transition: 0.5s ease-out;
}

a:hover::after {
  left: 0;
  width: 100%;
}
/*  */
/*  */
/*  */

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: var(--gray); */
}

[data-loginT="styling"] {
  /* margin-right: 6em; */
  margin-bottom: 0.5em;
  color: var(--white);
  margin-top: 0.5em;
  font-size: 1.5em;
}

[data-loginTE="stylingE"] {
  /* margin-right: 7.3em; */
  margin-bottom: 0.5em;

  color: var(--white);
  font-size: 1.5em;
}

[data-backgroundL="backgroundL"] {
  background-image: url("https://studioaccessballroom.com/wp-content/uploads/2019/08/46513257_577258236077850_153409437174857728_o-Copy.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
  background-size: cover;
  /* position: absolute; */
  background-attachment: fixed;
}
/* [data-formCard="card"] {
  background-color: var(--gray);
} */

#gridLogin {
  margin-top: 2.5em;
  background-color: var(--Tblack);
  padding: 2em;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
}

.inputL {
  font-size: 22px;
  text-align: center;
  padding: 3px;
  outline: none;
  border-radius: 15px;
  border-color: var(--red);
  border-width: 3px;
}

.loginBtn {
  margin-top: 1em;
  font-size: 22px;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 15px;
  border-color: var(--red);
  border-width: 3px;
}
.signupBtn {
  font-size: 1.3em;
  margin-top: 0.5em;
  margin-left: 1.3em;
}
/*  */
/*  */
/* css for login */

/*  */
/*  */
/* css for signup */
[data-backgroundS="backgroundS"] {
  background-image: url("https://images.pexels.com/photos/8281156/pexels-photo-8281156.jpeg");
  background-repeat: no-repeat;
  width: 100%;
  height: 90.1%;
  background-size: cover;
  position: absolute;
  background-attachment: fixed;
}
.containerS {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 1em;
}
.wrapperForm {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
  margin-left: 5em;
  margin-bottom: 20vh;
}
.containerSG {
  display: flex;
  flex-direction: flex-start;
}
.signupInput {
  background: transparent;
  outline: 0;
  border-width: 0 0 2px;
  border-color: var(--black);
  padding: 0.5em;
  margin-left: 0.5em;
  font-size: 1.5em;
}

.sText {
  margin-left: 2em;
  font-size: 1.7em;
}

.sTextM {
  margin-left: 3.5em;
  font-size: 1.7em;
}

.sBtn {
  font-size: 2em;
  margin-top: 0.5em;
  margin-left: 1.3em;
  background: var(--black);

  background: transparent;
  border: none;
}

.sBtn {
  box-shadow: inset 0 0 0 0 var(--red);
  color: var(--black);
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  border-radius: 10px;
  transition: color 0.3s ease-in-out, 0.3s ease-in-out;
}
.sBtn:hover {
  box-shadow: inset 100px 0 0 0 var(--red);
  color: var(--black);
  border-radius: 10px;
}
/*  */
/*  */
/* css for signup */

/*  */
/*  */
/* css for Homepage*/
[data-backgroundH="backgroundH"] {
  background-image: url("https://i.pinimg.com/736x/a6/d2/e2/a6d2e2fd3bbf1b8c80bf6d64cbd9a83f.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 90.1%;
  background-size: cover;
  position: absolute;
  background-attachment: fixed;
}
/*  */
/*  */
/* css for Homepage*/
